In [1]:
import yfinance as yf
import pandas as pd

# 定义资产列表
tickers = ['msft','aapl']

# 下载调整后的收盘价（过去 1 年）
raw_df = yf.download(tickers, start="2016-01-04", end="2016-02-01", interval="1d")

# 检查数据
print(raw_df.head())

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  2 of 2 completed

Price           Close                  High                   Low             \
Ticker           AAPL       MSFT       AAPL       MSFT       AAPL       MSFT
Date
2016-01-04  23.834375  48.240696  23.838901  48.240696  23.076472  46.999466
2016-01-05  23.237104  48.460781  23.947498  48.760085  23.169233  48.011827
2016-01-06  22.782354  47.580456  23.160176  47.888564  22.594577  47.219531
2016-01-07  21.820845  45.925495  22.653408  47.087500  21.816321  45.837466
2016-01-08  21.936224  46.066338  22.422640  46.902624  21.890977  45.907883

Price            Open                Volume
Ticker           AAPL       MSFT       AAPL      MSFT
Date
2016-01-04  23.214478  47.818150  270597600  53778000
2016-01-05  23.924874  48.355145  223164000  34079700
2016-01-06  22.750681  47.818138  273829600  39518900
2016-01-07  22.325361  46.392059  324377600  56564900
2016-01-08  22.295946  46.101547  283192000  48754000

In [2]:
raw_df.columns = raw_df.columns.swaplevel(0, 1)

In [3]:
# 重新排列列索引
raw_df = raw_df.sort_index(level=0, axis=1)

In [4]:
raw_df

Ticker           AAPL                                                   MSFT  \
Price           Close       High        Low       Open     Volume      Close
Date
2016-01-04  23.834375  23.838901  23.076472  23.214478  270597600  48.240696
2016-01-05  23.237104  23.947498  23.169233  23.924874  223164000  48.460781
2016-01-06  22.782354  23.160176  22.594577  22.750681  273829600  47.580456
2016-01-07  21.820845  22.653408  21.816321  22.325361  324377600  45.925495
2016-01-08  21.936224  22.422640  21.890977  22.295946  283192000  46.066338
2016-01-11  22.291426  22.411333  22.022200  22.390972  198957600  46.039936
2016-01-12  22.614943  22.780098  22.361553  22.748425  196616800  46.462482
2016-01-13  22.033504  22.893217  22.013144  22.696387  249758400  45.458931
2016-01-14  22.515400  22.732592  21.660213  22.162466  252680400  46.752983
2016-01-15  21.974684  22.105903  21.574240  21.764281  319335600  44.886726
2016-01-19  21.868353  22.318570  21.605914  22.264273  212350800  44.508202
2016-01-20  21.897764  22.214500  21.135335  21.515418  289337600  44.710686
2016-01-21  21.786903  22.144361  21.479217  21.958844  208646000  44.437775
2016-01-22  22.945251  22.954301  22.255221  22.314042  263202000  46.031128
2016-01-25  22.497299  22.970140  22.445263  22.967877  207178000  45.590988
2016-01-26  22.621735  22.823088  22.187354  22.608161  300308000  45.925495
2016-01-27  21.135326  21.861556  21.117227  21.728075  533478800  45.089207
2016-01-28  21.286915  21.384198  20.902308  21.219044  222715200  45.828667
2016-01-29  22.022192  22.022192  21.345735  21.445281  257666000  48.495979

Ticker
Price            High        Low       Open    Volume
Date
2016-01-04  48.240696  46.999466  47.818150  53778000
2016-01-05  48.760085  48.011827  48.355145  34079700
2016-01-06  47.888564  47.219531  47.818138  39518900
2016-01-07  47.087500  45.837466  46.392059  56564900
2016-01-08  46.902624  45.907883  46.101547  48754000
2016-01-11  46.524103  45.300480  46.224799  36943800
2016-01-12  46.744180  45.828665  46.444876  36095500
2016-01-13  47.598072  45.159627  47.360389  66883600
2016-01-14  47.025875  45.397313  45.775844  52381900
2016-01-15  45.749424  44.314527  45.168424  71820700
2016-01-19  45.494142  44.068049  45.318080  43564500
2016-01-20  45.230066  43.222968  43.997638  63273000
2016-01-21  45.406112  44.279320  44.895533  40191200
2016-01-22  46.066341  45.124412  45.256459  37555800
2016-01-25  46.348051  45.467746  45.723032  34707700
2016-01-26  46.163178  45.379707  45.590982  28900800
2016-01-27  45.951905  44.913145  45.784645  36775200
2016-01-28  45.960710  45.115619  45.652605  62513800
2016-01-29  48.495979  47.536447  48.179069  83611700

In [5]:
from deepdow.utils import raw_to_Xy


n_timesteps = len(raw_df)  # 20
n_channels = len(raw_df.columns.levels[1])  # 2
n_assets = len(raw_df.columns.levels[0])  # 2

lookback, gap, horizon = 5, 2, 4

X, timestamps, y, asset_names, indicators = raw_to_Xy(raw_df,
                                                      lookback=lookback,
                                                      gap=gap,
                                                      freq="B",
                                                      horizon=horizon)

n_samples =  n_timesteps - lookback - horizon - gap + 1  # 10

assert X.shape == (n_samples, n_channels, lookback, n_assets)
assert timestamps[0] == raw_df.index[lookback]
assert asset_names == ['AAPL', 'MSFT']
#assert indicators == ['Close', 'Volume']

In [6]:
X.shape

(9, 5, 5, 2)

In [7]:
(n_samples, n_channels, lookback, n_assets)

(9, 5, 5, 2)

In [8]:
timestamps[0]

Timestamp('2016-01-11 00:00:00')

In [9]:
raw_df.index[lookback]

Timestamp('2016-01-11 00:00:00')

In [10]:
import pandas as pd
df = pd.read_parquet('df.parquet')

In [11]:
df

Ticker            AAPL                                                  \
Price            Close        High         Low        Open      Volume
Date
2006-03-27    1.790870    1.847145    1.787560    1.816148  1108072000
2006-03-28    1.766796    1.809829    1.752952    1.794481  1370322800
2006-03-29    1.875734    1.881452    1.735498    1.779435  2346834000
2006-03-30    1.888373    1.904924    1.851659    1.890479  1390650800
2006-03-31    1.887471    1.914254    1.873026    1.903421   815357200
...                ...         ...         ...         ...         ...
2025-03-20  214.100006  217.490005  212.220001  213.990005    48862900
2025-03-21  218.270004  218.839996  211.279999  211.559998    94127800
2025-03-24  220.729996  221.479996  218.580002  221.000000    44299500
2025-03-25  223.750000  224.100006  220.080002  220.770004    34493600
2025-03-26  221.529999  225.020004  220.470001  223.509995    34466100

Ticker            AMGN                                               ...  \
Price            Close        High         Low        Open   Volume  ...
Date                                                                 ...
2006-03-27   50.995205   51.176585   50.409216   50.751043  5824900  ...
2006-03-28   50.653378   51.497484   50.402238   51.218439  9298900  ...
2006-03-29   50.241776   51.030077   50.095278   50.667317  6687100  ...
2006-03-30   50.660351   51.148675   50.311546   50.332474  7623500  ...
2006-03-31   50.751030   51.169594   50.688248   50.848695  8828100  ...
...                ...         ...         ...         ...      ...  ...
2025-03-20  315.040009  315.989990  312.239990  314.179993  2049700  ...
2025-03-21  316.040009  316.489990  311.160004  311.820007  9995000  ...
2025-03-24  314.380005  317.579987  313.429993  315.000000  2439400  ...
2025-03-25  306.859985  314.220001  303.510010  313.980011  2565300  ...
2025-03-26  305.709991  309.089996  304.350006  306.440002  2375200  ...

Ticker            WBA                                                   WMT  \
Price           Close       High        Low       Open    Volume      Close
Date
2006-03-27  26.269537  26.292878  25.732708  25.919431   4527400  10.771452
2006-03-28  25.645187  26.111994  25.417620  26.053644   5734800  10.726527
2006-03-29  25.674360  25.872753  25.633515  25.732710   3052700  10.793917
2006-03-30  25.394274  25.721039  25.306747  25.569326   3189000  10.706310
2006-03-31  25.166706  25.557655  25.108354  25.405944   3325900  10.611959
...               ...        ...        ...        ...       ...        ...
2025-03-20  11.120000  11.200000  11.120000  11.160000  12048300  85.574997
2025-03-21  11.100000  11.190000  11.080000  11.110000  37249800  85.980003
2025-03-24  11.150000  11.150000  11.090000  11.120000  12137700  87.489998
2025-03-25  11.120000  11.170000  11.120000  11.150000   7945800  84.760002
2025-03-26  11.100000  11.150000  11.100000  11.120000   9880500  85.209999

Ticker
Price            High        Low       Open    Volume
Date
2006-03-27  10.850076  10.760221  10.825366  25991400
2006-03-28  10.854571  10.706310  10.771454  30132900
2006-03-29  10.823120  10.670365  10.737757  26045400
2006-03-30  10.823122  10.627686  10.793919  29380800
2006-03-31  10.769206  10.602973  10.769206  30273000
...               ...        ...        ...       ...
2025-03-20  86.841523  85.285790  85.574997  18185500
2025-03-21  86.230003  84.779999  85.279999  26797200
2025-03-24  87.650002  86.349998  86.470001  17900700
2025-03-25  87.309998  84.620003  86.760002  27908600
2025-03-26  85.559998  84.570000  85.190002  27228800

[4781 rows x 150 columns]

In [12]:
horizon_len = 14
patch_len = 32
patch_num = 20
batch_size = 32
hidden_size = 128
channels = ['Close', 'Volume'] #['Close', 'High','Low',	'Open',	'Volume']
device = 'cuda'

In [13]:
from deepdow.utils import raw_to_Xy


n_timesteps = len(df)  # 20
n_channels = len(channels)  # 2
n_assets = len(df.columns.levels[0])  # 2

lookback, gap, horizon = patch_len*patch_num, 2, horizon_len

X, timestamps, y, asset_names, indicators = raw_to_Xy(df,
                                                      lookback=lookback,
                                                      gap=gap,
                                                      freq="B",
                                                      horizon=horizon,
                                                      included_indicators=channels)

n_samples =  n_timesteps - lookback - horizon - gap + 1  # 10

In [15]:
df.index[lookback]

Timestamp('2008-10-09 00:00:00')

In [24]:
X.shape

(4302, 2, 640, 30)

In [27]:
timestamps[0]

Timestamp('2008-09-08 00:00:00')

In [28]:
df.index[lookback]

Timestamp('2008-10-09 00:00:00')